body {
    margin: 0;
    background-color: #065b83;
    background-image: url("./assets/HBB3.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
    height: 100vh;
  
  }