.ExpenseInput {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #expense-form {
    background-color: purple;
      border-radius: 50px;
      padding: 2%;
      margin-top: 25%;
  }