.divanimation {
  width: 50px;
  height: 50px;
  background-color: rgb(30, 255, 0);
  animation-name: example;
  animation-duration: 6s;
}

@keyframes example {
  from {background-color: rgb(123, 255, 0);}
  to {background-color:  red;}
}

.container {
  color: white;
  background: rgba(0, 0, 0, 0.692);
  padding: 15px;
}

.overview-container {
  /* margin-top: 170px; */
  margin-bottom: 50px;
  /* margin: 20px; */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}